.todoList {
  margin-top: 1em;
  height: 50vh;
  /* background-color: lightpink; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.liste {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em;
}

.sectionName {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  padding: 0.5em;
  border-radius: 3px;
  filter: brightness(1.1);
  cursor: pointer;
}

.todos {
  display: flex;
  flex-direction: Column;
  justify-content: left;
  padding: 1em;
  align-items: flex-start;
  font-size: 16px;
}

.todo {
  position: relative;
  padding: 0.7em;
  margin: 0 0 1em;
  /* min-width: 200px;*/
  max-width: 350px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  text-align: left;
}

.todo:hover {
  /* border: solid 1px lightgrey; */
  color: rgba(70, 68, 68, 0.801);
}
.sectionName:hover {
  /* border: solid 1px lightgrey; */
  color: rgba(70, 68, 68, 0.801);
}
.todo:before,
.todo:after,
.sectionName:after,
.sectionName:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: lightgrey;
}

.todo:before,
.sectionName:before {
  left: -2.5px;
}
.todo:after,
.sectionName:after {
  right: 2.5px;
  background: lightgrey;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.todo:hover:before,
.sectionName:hover:before {
  background: lightgrey;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.todo:hover:after,
.sectionName:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
