.history {
  margin: 3em;
  padding: 0.5em;
  max-width: 250px;
  max-height: 300px;

  border: solid 1px lightgrey;
  border-radius: 3px;
  cursor: default;
}

.historyTitle {
  padding: 0.5em;
  font-weight: bold;
  color: li;
}

.removedTodos {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  max-width: 250px;
  max-height: 200px;
}
.removedTodo {
  padding: 0.5em;
  border: solid 1px lightgrey;
  margin: 0.5em;
  border-radius: 3px;
}
